<%- include ('partials/header')%>

    <h1>Hallo Index!</h1>
    <form action="/artist-search" method="GET">
        <input type="text" name="myText" id="" placeholder="Künstler, z.B 'Beyonce'">
        <input type="submit" value="Search">
    </form>

<%- include ('partials/footer')%>